/Lab2/Lab2Exc2/target/
/Lab2/Lab2Exc2 copy/target/
/Lab3/Lab2Exc2 copy/target/
/Lab3/n-layer implementation/target/
/Lab3/n-layerimplementation/target/
/Lab4/CreateLeague/target/
/Lab4/SearchLeagues/target/
/Lab4/Frontend/target/
